.p-sidebar-content {
  font-size: 1.25rem;
  color: $charcoal;
  padding-left: 1.5rem;
  .hamburger-wrapper-title {
    font-weight: 700;
    margin-bottom: .5rem;
  }
}
.p-sidebar-content, .p-sidebar-header {
  background-color: $tea-green;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 0, rgba(17, 17, 26, 0.05) 0px 8px 0;
}
.hamburger-wrapper .p-button > .p-button-icon {
  font-size: 1.5rem;
  color: $charcoal;
}
.hamburger-wrapper .p-button > .p-button-icon:hover {
  transition: 0.2s ease;
  color: $sunglow;
}
.p-sidebar-content {

  .navbar-link {
      transition: 0.2s ease; 
  }
}
.p-sidebar-header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.5rem;
  :hover {
    transition: 0.2s ease;
    color: $sunglow;
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
