@import './globalColors';

.navbar-bg {
  background-color: $background;
}
/* Dodaj nowe style dla klasy .line */
.navbar-link {
  position: relative;
  width: 8rem;
  height: 100%;
  color: $charcoal;
  font-weight: 500;
  overflow: hidden;

  &:hover {
    font-weight: 700;

    .line {
      width: 100%;
    }
  }
}
.line {
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0.1px;
  background-color: $charcoal;
  transition: width 0.4s ease, left 0.4s ease; 
}



@media (min-width: 1024px) {
  .hamburger-wrapper {
    display: none;
    visibility: hidden;
  }
}